* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}



/* -------------section-number1----------------- */

.header {

    min-height: 100vh;
    max-width: 100%; 
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/tel-aviv-1.jpg);
    background-size: cover;
    background-position: center;
    }


    nav {
        padding: 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links #icon-menu {

        background-color: #f44336;
        border-radius: 10px;
        width: 30px;
        display: none;
    }


    nav img {

        width: 150px;
    }

    .nav-links {
         flex: 1;    /* makes element take fully one row */
        text-align: right;


    }

    .nav-links ul li {

        list-style: none;    /* deletes decoration for li element*/
        display: inline-block;  /* display li elements horizontally */
        padding: 8px 12px;
        position: relative;
        


    }

    .nav-links ul li a {

        text-decoration: none;
        color: white;
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
    }


    .nav-links ul li ::after {

        content: '';    
        width: 0%;
        height: 2px;
        background: #f44336;
        display:block;
        margin: auto;
        transition: 0.5s;


    }

    .nav-links ul li:hover ::after {
    
        width: 100%;

    }


    .text-box {

        width: 90%;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    .text-box h1 {

        font-size: 40px;
        
    }

    .text-box p {
        margin: 10px 0 40px;
        font-size: 12px;

    }


    .big-button {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 13px 34px;
        background: transparent;
        position: relative;
        cursor: pointer;
        
    }

    .big-button:hover {
        border: 1px solid #f44336;
        background: #f44336;
        transition: 1s;
    }

    #icon-menu-show {
        display: none;
    }
    #icon-menu-hide {
        display: none;
    }
  
    


    @media(max-width:700px) {
        
        
        .text-box h1 {

            font-size: 20px;
            
        }
        
        .nav-links ul li {
            padding: 0;
            margin:0;
            display: block;}

            
            
            

        

    

    .nav-links {

        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    #icon-menu-show {

        background-color: #f44336;
        border-radius: 10px;
        width: 35px;
        display: block;
        cursor: pointer;
      
    
    }
       

         #icon-menu-hide {
            display: block;
            width: 35px;
            cursor: pointer;
            width: 35px;
            
        }

    



    .nav-links ul {

        padding: 30px;}

}


/* ------------offers------------ */

.offers {

    height: 100vh;
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
    text-align: center;
}

h1 {
    display: block;
    margin-top:100px;
    
    font-size: 36px;
    font-weight: 600;
    text-align: center;  
}


h3 {

    font-size: 24px;
}

p {
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    text-align: center;
    box-sizing: border-box;
    color:grey
}


.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}






.offers-column {

    
    text-align: center;
    
    border-radius: 10px;
    flex-basis: 31%;
    box-sizing: border-box;
    background:rgb(243, 218, 218);
    margin: 0%;
    box-sizing: border-box;
    transition: 0.5s;
    margin-bottom: 30px;
    
}

.middle-column {

    margin-left: 5px;
    margin-right: 5px;
}


.offers-column:hover {

    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}


@media(max-width:700px) {

    .offers {

        width: 80%;
        margin: auto;
    }

    .offers h1 {
        
        font-size: 30px;
        margin-bottom: 40px;
    }

    .offers-column {

        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
        
    }
   
    .row {
        flex-direction: column;
    }


    h3 {
        
        font-size: 24px;
        padding: 20px;
        margin: 30px;
        
        
    }

    .offers-colum p {
        font-size: 16px;
        color: grey;
    }

}

/* ----------------big-images-------------------- */




.big-images {
    
    width: 100%;
    margin: auto;
    text-align: center;
}



.big-images-column {
    min-height: 100vh;
    width: 100%;
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
    
}

#img1 {

    width: 33.3333333%;
    height: 100vh;
    background-image: url(images/1.jpg);
    background-size: cover;
    
    
}

#img2 {

    width: 33.3333333%;
    height: 100vh;
    background-image: url(images/4.jpg);
    background-size: cover;
}

#img3 {

    width: 33.3333333%;
    height: 100vh;
    background-image: url(images/6.jpg);
    background-size: cover;
}


.images-header {

    font-size: 34px;
    position: relative;
    bottom: -250px;
    color: transparent;
    
    
}

.img {
    opacity: 0.6;
}

.img:hover {
    opacity: 1;
    transition: 1s;
}


#img1::after {
    position: relative;
    bottom: -240px;
    content: 'Explore';
    text-align: center;
    justify-content: center;
    color: transparent;
    font-size: 40px;
}


#img2:hover::after {

    color:red;
    transition: 1s;
    
}

#img2::after {
    position: relative;
    bottom: -240px;
    content: 'Beauty';
    text-align: center;
    justify-content: center;
    color: transparent;
    font-size: 40px;
}


#img3:hover::after {

    color:red;
    transition: 1s;
    
}
#img3::after {
    position: relative;
    bottom: -240px;
    content: 'of Israel';
    text-align: center;
    justify-content: center;
    color: transparent;
    font-size: 40px;
}


#img1:hover::after {

    color:red;
    transition: 1s;
    
}


@media(max-width:700px) {

        .big-images .row {

            margin: 0%;
        }
    
        .big-images-column {
            width: 100%;
            margin: 0%;
            display: grid;
            grid-template-columns: 100%;
        }
    

    #img1::after {
        position: relative;
        
        content: 'Explore';
        text-align: center;
        justify-content: center;
        color: transparent;
        font-size: 40px;
    }

    #img2::after {
        position: relative;
        
        content: 'Beauty';
        text-align: center;
        justify-content: center;
        color: transparent;
        font-size: 40px;}

        #img3::after {
            position: relative;
            
            content: 'of Israel';
            text-align: center;
            justify-content: center;
            color: transparent;
            font-size: 40px;}


    #img1 {
        width: 100%;
            
    }

    #img2 {

        width: 100%;
        
    }


    #img3 {

        width: 100%;
       
    }

    h1 {

        margin-bottom: 400px;
    }

    #img2:hover::after {

        color:red;
        transition: 1s;
        font-size: 40px;
        
    }

    #img1:hover::after {

        color:red;
        transition: 1s;
        font-size: 40px;
        
    }

    #img3:hover::after {

        color:red;
        transition: 1s;
        font-size: 40px;
        

   
}
}



/* --------------facilites------------- */


.facilities {

    min-height: 100vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding-top: 100px;


}


.facilities-column {

    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}


.facilities-column div {
   

   height: 400px;
   width: 300px;
   
}


.facilities-column:hover div {

    box-shadow:0 0 40px 20px rgba(0,0,0,0.2); 
}

.facilities-column:hover h1 {

    border-bottom: solid 3px red;
    transition: 0.5s;

}

.facilities-column:hover p {

    border-bottom: solid 1px red;
    transition: 0.5s;

}


#img4 {

    background-image: url(images/hotel1.jpg);
    background-size: cover;
}
#img5 {

    background-image: url(images/hotel2.jpg);
    background-size: cover;
}
#img6 {

    background-image: url(images/hotel3.jpg);
    background-size: cover;
}


@media(max-width:700px) {


    .facilities-column {

        display: flex;
        
        flex-direction: column;
        margin: 0%;
    }



    h1 {

        margin-bottom: 0px;
    }

    p {
        display: none;
    }


    .facilities-column div {
   

        height: 400px;
        width: 300px;
        
        
     }
}


/* ------------clients-review-------------------- */



.row {
    
    display: flex;
    margin-left: 10px;
}

.clients-review h1 {
    margin-bottom: 5rem;
    margin-top: 5rem;
    text-align: center;
}


.img {


    height: 100px;
    width: 100px;
    background-size: cover;
}

#img-client1 {

    background-image: url(images/face1.jfif);
    border-radius: 50px;
}


#img-client2 {

    background-image: url(images/face2.jpg);
    border-radius: 50px;
}

#img-client3 {

    background-image: url(images/face3.jfif);
    border-radius: 50px;
}

#img-client4 {

    background-image: url(images/face4.jfif);
    border-radius: 50px;
}

.fa-solid  {

    color: gold;


}


@media (max-width:700px) {


   .row {
    display: flex;
    flex-direction: column;
   }

   .row i {
    position: relative;
    top: -100px;}

    .row h3 {

        position: relative;
        top: -50px;

    }


    .review-column {
        max-width: 60rem;
    }

    .img {


        height: 100px;
        width: 100px;
        background-size: cover;
        margin-right: 15px;
    
    }


    .clients-review p  {

        font-size: 15px;
        display: flex;
        text-align: left;
    }

    .clients-review .row {

        margin-left: 15px;
    }


}



/* -----------contact-us------------------ */


.contact-us {
    


    margin-top: 100px;
    height: 100vh;
    max-width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner.jpg) ;
    background-position: center;
    background-size: cover;
    align-items: center;
    text-align: center;
    
}


.refs {
    
    
    position: relative;
    bottom: -50%; }


.refs a {
    text-decoration: none;
    font-size: 40px;
    color: white;
    border: solid 1px white;
    padding: 20px;
}



/* ------------social-media------------------- */



.social-media {

    margin-top: 150px;
    width:100%;
    height: 35%;
    text-align: center;

}


.social-media h1 {

    color: rgb(0, 0, 0);
    font-size: 24px;
    margin-bottom: 30px;

   
}

.icons {

    display: flex;
    justify-content: center;
}

.icons i {

    margin-left: 5px;
    margin-bottom: 10px;
    color:black ;
}

